# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

vcap-local.json
node_modules

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*`
.env
.env.*
.jsbeautifyrc
private.md
.bobmodes

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
.bob/
client/build/
client/coverage/
client/dist/
client/node_modules/
client/tmp/
client/temp/
client/hooks/
client/platforms/
client/plugins/
client/plugins/android.json
client/plugins/ios.json
client/www/
client/.angular/cache/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
user_data_mnmgt.drawio
figma_mycellar_app.fig
client/.$VinState Status Diagram.drawio.bkp
apiKey.txt
config.json
