<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> {{'page.appellation' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="list">
    <div *ngIf="appellations$ | async">
      <ion-list>
        <ion-item
          *ngFor="let appellation of appellations$ | async"
          (click)="editAppellation(appellation)"
        >
          {{ appellation.courte }} - {{appellation.longue}}
          <!-- <ion-button slot="end" fill="outline">Modify -->
          <ion-icon slot="end" color="dark" name="caret-forward-outline"></ion-icon>
          <!-- </ion-button> -->
        </ion-item>
      </ion-list>
    </div>
    <ion-button expand="full" (click)="editAppellation(appellation)">
      {{'general.add' | translate }} {{'appellation.appellation' | translate }}
    </ion-button>
  </div>
  <div *ngIf="!list">
    <form [formGroup]="appellationForm" id="appellation-form4">
      <ion-item id="appellation-input1">
        <ion-label floating translate> appellation.short </ion-label>
        <ion-input
          aria-label="courte"
          type="text"
          placeholder="{{ 'appellation.appellationShort' | translate }}"
          formControlName="courte"
          class="ion-text-right"
          [class.invalid]="!appellationForm.controls.courte.valid && (appellationForm.controls.courte.dirty || submitted)"
        >
        </ion-input>
      </ion-item>
      <ion-item
        *ngIf="!appellationForm.controls.courte.valid  && (appellationForm.controls.courte.dirty || submitted)"
      >
        <p class="invalid">
          {{'appellation.courte' | translate }} {{"general.required" | translate }}
        </p>
      </ion-item>
      <ion-item id="appellation-input2">
        <ion-label floating translate> appellation.long </ion-label>
        <ion-input
          aria-label="longue"
          type="text"
          placeholder="{{ 'appellation.appellationLong' | translate }}"
          formControlName="longue"
          class="ion-text-right"
          [class.invalid]="!appellationForm.controls.longue.valid && (appellationForm.controls.longue.dirty || submitted)"
        >
        </ion-input>
      </ion-item>
      <p *ngIf="appellationForm.hasError('double')" [class.invalid]="true">
        {{ 'appellation.double' | translate }}
      </p>
      <ion-button
        [disabled]="!appellationForm.valid"
        color="primary"
        block
        (click)="saveAppellation()"
      >
        {{'general.save' | translate }}
      </ion-button>
      <ion-button color="danger" block (click)="deleteAppellation()">
        {{'general.suppress' | translate }}
      </ion-button>
      <ion-button color="light" block [routerLink]="['/appellations']">
        {{'general.cancel' | translate }}
      </ion-button>
    </form>
    <ion-button
      *ngIf="!showWines"
      color="secondary"
      fill="outline"
      (click)="showWines = !showWines"
    >
      {{'appellation.showWinesForAppellation' | translate }}
    </ion-button>
    <ion-button *ngIf="showWines" color="secondary" fill="outline" (click)="showWines = !showWines">
      {{'appellation.hideWinesForAppellation' | translate }}
    </ion-button>
    <div [ngClass]="'border'" *ngIf="showWines && (winesForAppellation$ | async)">
      <ion-list>
        <ion-item
          *ngFor="let wine of winesForAppellation$ | async"
          [routerLink]="['/vin', wine._id]"
        >
          {{ wine.nom }} - {{wine.annee}} - {{wine.type.nom}}
          <!-- <ion-button slot="end" fill="outline">Modify -->
          <ion-icon slot="end" color="dark" name="caret-forward-outline"></ion-icon>
          <!-- </ion-button> -->
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
