<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'page.profile' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row color="primary" class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h3>{{'profile.title' | translate }}</h3>
          </div>
          <div class="ion-padding">
            <ion-item>
              <ion-label for="username" >{{"register.username" | translate }}</ion-label>
              <ion-label>{{f.username.value}}</ion-label>
<!--               <ion-input type="text" formControlName="username"
                [ngClass]="{ 'is-invalid': !f.username.valid && (f.username.dirty || submitted) }"></ion-input>
              <div *ngIf="!f.username.valid  && (f.username.dirty || submitted)">
                <p class="invalid"> {{"register.username" | translate }} {{"general.required" | translate }}</p>
              </div>
 -->            </ion-item>
            <ion-item>
              <ion-label for="firstname" position="floating">{{"register.firstname" | translate }}</ion-label>
              <ion-input type="text" formControlName="firstname"
                [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }"></ion-input>
              <div *ngIf="!f.firstname.valid  && (f.firstname.dirty || submitted)">
                <p class="invalid"> {{"register.firstName" | translate }} {{"general.required" | translate }}</p>
              </div>
            </ion-item>
            <ion-item>
              <ion-label for="lastname" position="floating">{{"register.lastname" | translate }}</ion-label>
              <ion-input type="text" formControlName="lastname"
                [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }"></ion-input>
              <div *ngIf="!f.lastname.valid  && (f.lastname.dirty || submitted)">
                <p class="invalid"> {{"register.lastName" | translate }} {{"general.required" | translate }}</p>
              </div>
            </ion-item>
            <ion-item>
              <ion-label for="email" position="floating" placeholder="your@email.com">
                {{"register.email" | translate }}
              </ion-label>
              <ion-input type="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
              </ion-input>
              <div *ngIf="!f.email.valid  && (f.email.dirty || submitted)">
                <p class="invalid"> {{"register.email" | translate }} {{"general.required" | translate }}</p>
              </div>
            </ion-item>
          </div>
          <div class="ion-padding">
            <ion-button size="medium" type="submit" [disabled]="!profileForm.valid" expand="block">{{"profile.update" | translate }}</ion-button>
          </div>
          <div class="ion-padding">
            <ion-button size="medium" [routerLink]="['/user-management/changepwd']" [disabled]="!profileForm.valid" expand="block">{{"changepwd.title" | translate }}</ion-button>
          </div>
          <div class="ion-padding">
            <ion-back-button color="primary" defaultHref="home" text="{{'general.back' | translate }}" type="button"></ion-back-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>