<ion-list class="ion-no-margin" no-lines>
  @for (option of collapsableItems; track option; let i = $index) {
    <!-- It is a simple option -->
    @if (!option.suboptionsCount) {
      <ion-item
        class="option"
        [ngClass]="
          menuSettings?.showSelectedOption && option.selected
            ? menuSettings.selectedOptionClass
            : null
        "
        (click)="select(option)"
        lines="full"
        tappable
        >
        @if (option.iconName) {
          <ion-icon
            [name]="option.iconName"
            slot="start"
            size="small"
            >
          </ion-icon>
        }
        @if (option.iconSrc) {
          <ion-icon
            slot="start"
            src="{{ option.iconSrc }}"
          ></ion-icon>
        }
        {{ option.displayText }}
        @if (option.badge | async; as badgeNo) {
          <ion-badge slot="end">{{
            badgeNo
          }}</ion-badge>
        }
      </ion-item>
    }
    <!-- It has nested options -->
    @if (option.suboptionsCount) {
      <ion-list class="ion-no-margin" class="accordion-menu">
        <!-- Header -->
        <ion-item
          class="header"
          color="light"
          [ngClass]="
            menuSettings?.showSelectedOption && option.selected
              ? menuSettings.selectedOptionClass
              : null
          "
          (click)="toggleItemOptions(option)"
          lines="full"
          tappable
          >
          <ion-icon
            [class.rotate]="option.expanded"
            class="header-icon"
            name="chevron-down-outline"
            slot="end"
            size="small"
          ></ion-icon>
          {{ option.displayText }}
        </ion-item>
        <!-- Sub items -->
        <div
          [style.height]="
            option.expanded
              ? (optionHeight + 1) * option.suboptionsCount + 'px'
              : '0px'
          "
          class="options"
          >
          @for (item of option.subOptions; track item) {
            <ion-item
              class="sub-option"
              [style.padding-left]="subOptionIndentation + 'px'"
              [class.no-icon]="
                menuSettings?.indentSubOptionsWithoutIcons && !item.iconName
              "
              [ngClass]="
                menuSettings?.showSelectedOption && item.selected
                  ? menuSettings.selectedOptionClass
                  : null
              "
              (click)="select(item)"
              lines="full"
              tappable
              >
              @if (item.iconName) {
                <ion-icon
                  [name]="item.iconName"
                  slot="start"
                  size="small"
                ></ion-icon>
              }
              @if (item.iconSrc) {
                <ion-icon
                  slot="start"
                  src="{{ item.iconSrc }}"
                  size="small"
                ></ion-icon>
              }
              {{ item.displayText }}
              @if (item.badge | async; as badgeNo) {
                <ion-badge item-right
                  >{{ badgeNo }}
                </ion-badge>
              }
            </ion-item>
          }
        </div>
      </ion-list>
    }
  }
</ion-list>
