<ion-app>
  @if (currentUser) {
    <ion-split-pane contentId="main-content">
      <ion-menu contentId="main-content">
        <ion-header>
          <ion-toolbar color="medium">
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <app-multi-level-side-menu
            [settings]="sideMenuSettings"
            [options]="options"
            (change)="onOptionSelected($event)"
          ></app-multi-level-side-menu>
        </ion-content>
      </ion-menu>
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
  }
  @if (!currentUser) {
    <ion-router-outlet id="main-content"></ion-router-outlet>
  }
</ion-app>
