<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> {{'page.wine' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="vinForm">
    <ion-item>
      <ion-label position="floating"> {{'wine.name' | translate }} </ion-label>
      <ion-input
        type="text"
        placeholder="Nom du vin"
        formControlName="nom"
        class="ion-text-right"
      >
      </ion-input>
    </ion-item>
    <ion-item
      *ngIf="!vinForm.controls.nom.valid  && (vinForm.controls.nom.dirty || submitted)"
    >
      <p class="invalid">
        {{'wine.name' | translate }} {{"general.required" | translate }}
      </p>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> {{'wine.year' | translate }} </ion-label>
      <ion-input
        type="text"
        placeholder="Année"
        formControlName="annee"
        class="ion-text-right"
        [class.invalid]="!vinForm.controls.annee.valid && (vinForm.controls.annee.dirty ||
          submitted)"
      >
      </ion-input>
    </ion-item>
    <ion-item
      *ngIf="!vinForm.controls.annee.valid  && (vinForm.controls.annee.dirty || submitted)"
    >
      <p class="invalid">
        {{'wine.year' | translate }} {{"general.required" | translate }}
        {{'general.or' | translate }} {{'wine.minmax' | translate }}
      </p>
    </ion-item>
    <ion-item *ngIf="vinForm.hasError('double')">
      <p [class.invalid]="vinForm.hasError('double')">
        {{ 'wine.double' | translate }}
      </p>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> {{'wine.type' | translate }} </ion-label>
      <ion-select
        *ngIf="types ? types.length : false"
        formControlName="type"
        [compareWith]="compareFn"
        interface="popover"
      >
        <ion-select-option *ngFor="let typeEl of types" [value]="typeEl">
          {{typeEl.nom | translate }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item
      *ngIf="!vinForm.controls.type.valid  && (vinForm.controls.type.dirty || submitted)"
    >
      <p class="invalid">
        {{'wine.type' | translate }} {{"general.required" | translate }}
      </p>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        {{'wine.origin' | translate }}
      </ion-label>
      <ion-select
        *ngIf="(origines$ | async)?.length > 0"
        formControlName="origine"
        [compareWith]="compareFn"
        interface="popover"
      >
        <ion-select-option
          *ngFor="let origineEl of origines$ | async"
          [value]="origineEl"
        >
          {{origineEl.pays}} - {{ origineEl.region }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item
      *ngIf="!vinForm.controls.origine.valid  && (vinForm.controls.origine.dirty || submitted)"
    >
      <p class="invalid">
        {{'wine.origine' | translate }} {{"general.required" | translate }}
      </p>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        {{'wine.appellation' | translate }}
      </ion-label>
      <ion-select
        *ngIf="appellations ? appellations.length : false"
        formControlName="appellation"
        [compareWith]="compareFn"
        interface="popover"
      >
        <ion-select-option
          *ngFor="let appellation of appellations"
          [value]="appellation"
        >
          {{appellation.courte}} - {{ appellation.longue }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item
      *ngIf="!vinForm.controls.appellation.valid  && (vinForm.controls.appellation.dirty || submitted)"
    >
      <p class="invalid">
        {{'wine.appellation' | translate }} {{"general.required" | translate }}
      </p>
    </ion-item>
  </form>
  <ion-button expand="full" fill="outline" (click)="showHistory()">
    <ion-icon slot="end" name="clipboard-outline"></ion-icon>
    {{'wine.history' | translate }}
  </ion-button>
  <!--   </form> -->

  <ion-button
    [disabled]="!vinForm.valid"
    id="vin-button1"
    color="primary"
    expand="full"
    (click)="saveVin()"
  >
    {{'general.save' | translate }}
  </ion-button>
  <ion-button
    id="vin-button3"
    color="secondary"
    expand="full"
    (click)="addComment()"
  >
    {{'general.add' | translate }} {{'wine.comment' | translate }}
  </ion-button>
  <ion-button
    id="vin-button2"
    color="danger"
    expand="full"
    (click)="deleteVin()"
  >
    {{'general.suppress' | translate }}
  </ion-button>
</ion-content>
