<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> {{'page.stats' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h4 id="stats-heading2" style="color: #000000" translate>
    stats.consumption
  </h4>
  <form id="stats-form5">
    <ion-item id="stats-from">
      <ion-select
        label="{{'stats.from' | translate }}"
        [(ngModel)]="from"
        interface="popover"
        name="end"
        >
        @for (option of fromOptions; track option) {
          <ion-select-option
            [value]="option.value"
            >
            {{option.display | translate }}
          </ion-select-option>
        }
      </ion-select>
    </ion-item>
    <ion-item id="stats-to">
      <ion-select
        label="{{'stats.to' | translate }}"
        [(ngModel)]="to"
        interface="popover"
        name="start"
        >
        @for (option of toOptions; track option) {
          <ion-select-option
            [value]="option.value"
            >
            {{option.display | translate }}
          </ion-select-option>
        }
      </ion-select>
    </ion-item>
  </form>
  <ion-button id="stats-button6" block (click)="draw()">
    {{'general.show' | translate }}
  </ion-button>
  <div id="title"></div>
  <div id="chart"></div>
  @if (ready) {
    <div class="statTable">
      <table border="0" cellpadding="10">
        <thead>
          <tr>
            <th></th>
            <th>region</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody id="chartTableBody">
          @for (d of dataset; track d) {
            <tr>
              <td class="tabcolor"></td>
              <td>{{d.label}}</td>
              <td>{{d.count}}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</ion-content>
