ion-item {
  --background: #3880ff;
  --color: #fff;
}

ion-button {
  --background: #062f77;
}

a {
  color: #ddd;
}

#appversion {
  text-align: center;
  position: absolute;
  bottom: 5%;
  left: 0%;
  right: 0%;
  font-size: x-small;
}

.invalid-feedback {
  color: #ff0000;
  font-size: small;
}
