<ion-content color="primary">
  <form #form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row color="primary" class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h3>Register for your account!</h3>
          </div>
          <div class="ion-padding">
            <ion-item>
              <ion-label for="username" position="floating">{{
                "register.username" | translate
              }}</ion-label>
              <ion-input
                type="text"
                formControlName="username"
                [ngClass]="{ 'is-invalid': !f.username.valid && f.username.dirty }"
              ></ion-input>
              @if (!f.username.valid && f.username.dirty && f.username.errors?.required) {
                <div>
                  <p class="invalid">
                    {{ "register.username" | translate }} {{ "general.required" | translate }}
                  </p>
                </div>
              }
              @if (!f.username.valid && f.username.dirty && f.username.errors?.whitespace) {
                <div>
                  <p class="invalid">
                    {{ "register.username" | translate }}
                    {{ "general.containsWhitespace" | translate }}
                  </p>
                </div>
              }
              @if (!f.username.valid && f.username.dirty && f.username.errors?.pattern) {
                <div>
                  <p class="invalid">
                    {{ "register.username" | translate }} {{ "general.underscore" | translate }}
                  </p>
                </div>
              }
              @if (!f.username.valid && f.username.dirty && f.username.errors?.minlength) {
                <div>
                  <p class="invalid">
                    {{ "register.username" | translate }} {{ "general.minlength" | translate }}
                  </p>
                </div>
              }
            </ion-item>
            <ion-item>
              <ion-label for="firstName" position="floating">{{
                "register.firstname" | translate
              }}</ion-label>
              <ion-input
                type="text"
                formControlName="firstName"
                [ngClass]="{ 'is-invalid': !f.firstName.valid && f.firstName.dirty }"
              ></ion-input>
              @if (!f.firstName.valid && f.firstName.dirty && f.firstName.errors?.required) {
                <div>
                  <p class="invalid">
                    {{ "register.firstName" | translate }} {{ "general.required" | translate }}
                  </p>
                </div>
              }
            </ion-item>
            <ion-item>
              <ion-label for="lastName" position="floating">{{
                "register.lastname" | translate
              }}</ion-label>
              <ion-input
                type="text"
                formControlName="lastName"
                [ngClass]="{ 'is-invalid': !f.lastName.valid && f.lastName.dirty }"
              ></ion-input>
              @if (!f.lastName.valid && f.lastName.dirty && f.lastName.errors?.required) {
                <div>
                  <p class="invalid">
                    {{ "register.lastName" | translate }} {{ "general.required" | translate }}
                  </p>
                </div>
              }
            </ion-item>
            <ion-item>
              <ion-label for="email" position="floating" placeholder="your@email.com">
                {{ "register.email" | translate }}
              </ion-label>
              <ion-input
                type="email"
                formControlName="email"
                [ngClass]="{ 'is-invalid': !f.email.valid && f.email.dirty }"
                >
              </ion-input>
              @if (!f.email.valid && f.email.dirty && f.email.errors?.required) {
                <div>
                  <p class="invalid">
                    {{ "register.email" | translate }} {{ "general.required" | translate }}
                  </p>
                </div>
              }
              @if (!f.email.valid && f.email.dirty && f.email.errors?.pattern) {
                <div>
                  <p class="invalid">{{ "register.validEmail" | translate }}</p>
                </div>
              }
            </ion-item>
          </div>
          <div class="ion-padding">
            <ion-button size="large" type="submit" [disabled]="!registerForm.valid" expand="block"
              >Register</ion-button
              >
            </div>
            <div class="ion-padding">
              <ion-back-button
                color="light"
                defaultHref="home"
                text="{{ 'general.back' | translate }}"
                type="button"
              ></ion-back-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>
